<section class="container-carousel">
  <div class="next-carousel">
    <span class="material-symbols-outlined">
      chevron_right
      </span>
  </div>
  <div class="return-carousel">
    <span class="material-symbols-outlined">
      chevron_left
      </span>
  </div>

  <section class="cards-filmes">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </section>
</section>
