.container-carousel {
  width: 100%;

  overflow: hidden;
  position: relative;

  margin-bottom: 20px;

  .next-carousel {
    cursor: pointer;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    width: 40px;

    background: #2b2a2a;

    transition: all .5s ease-in-out;
    border-radius: 5px;
  }

  .return-carousel {
    cursor: pointer;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 40px;

    background: #2b2a2a;

    transition: all .5s ease-in-out;
    border-radius: 5px;

  }

  .return-carousel:hover, .next-carousel:hover {
    opacity: 0.9;
    background: #2b2a2a;
  }

  .cards-filmes {

    transition: all 0.5s ease-in-out;
    margin: 0 10px 0 10px;
    display: flex;
    gap: 15px;

    .card {
      cursor: pointer;
      width: 160px;
      height: 210px;

      margin-bottom: 5px;

      img {
        border: 2px solid #d7b01f;
        width: 170px;
        height: 208px;
      }
    }
  }
}
