<section class="container-carousel">
  <div class="next-carousel" (click)="nextFilmes()">
    <span class="material-symbols-outlined">
      chevron_right
      </span>
  </div>
  <div class="return-carousel" (click)="returnFilmes()">
    <span class="material-symbols-outlined">
      chevron_left
      </span>
  </div>

  <section class="cards-filmes">
    @for(filme of filmexExibidos; track filme) {
      <div class="card">
        <img src="{{filme.img}}" alt="logo imagem de {{ filme.nome }}">
      </div>
    }
  </section>
</section>
