<section class="container">
  <div class="conteudo-container">

    <div class="info-filme">

      <div class="info-img">
        <img src="https://image.tmdb.org/t/p/original/hluxFUpyRGQI3ytbzU5GGQXlZ1N.jpg" alt="">
      </div>

      <div class="info-descricao">
        <div class="descricao-titulo">
          <h2>Batman: O Cavaleiro Das Trevas</h2>
        </div>
        <div class="descricao-conteudo">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ex illo dignissimos tenetur ratione dolores id, quasi nesciunt esse maxime, aperiam, repellendus temporibus! Exercitationem fugit deserunt assumenda tempore saepe nisi!
          </p>
        </div>
      </div>

    </div>

   <app-player-filme></app-player-filme>

  </div>
</section>
