.menu {
  width: 100%;
  background-color: rgba(51, 50, 50, 0.082);
  height: 60px;

  padding: 0 30px 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Tauri", sans-serif;
  font-weight: 400;
  
  .menu-lista {
    display: flex;
    justify-content: center;

    align-items: center;
    gap: 50px;

    h1 {
      margin: 0;
    }

    ul {
      display: flex;
      gap: 20px;

      li {
        position: relative;
        transition: all 0.5s ease-in-out;
        a {
          cursor: pointer;
        }
      }

      li::before {
        transition: all .5s ease-in-out;
        bottom: 0;
        left: 0;
        position: absolute;
        content: " ";
        width: 0;
        height: 1px;
        background-color: white;
      }

      li:hover::before {

        width: 100%;

      }

      li:hover {
        color: rgb(206, 204, 204);
      }
    }
  }

  .menu-opcoes {
    display: flex;
    align-items: center;
    position: relative;

    p {
      padding: 0;
      margin: 0;
    }

    .menu-botao {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }

    .menu-toggle {
      position: absolute;
      top: 20px;
      left: -30px;

      border-radius: 2px;
      width: 120px;

      background: rgb(247, 247, 247);
      color: black;

      padding: 10px;

      .menu-toggle-mobile {
        display: none;
      }

      ul > li {
        cursor: pointer;
      }
    }
  }

}

@media screen and (max-width: 800px) {

  .menu {
    .menu-lista {
      ul {

        display: none;
      }
    }

    .menu-opcoes {
      .menu-toggle {
        .menu-toggle-mobile {
          display: block;
        }
      }
    }
  }
}
