<nav class="menu">
  <div class="menu-lista">
    <h1>OverFLIX</h1>
    <ul>
      <li><a>Início</a></li>
      <li><a>Séries</a></li>
      <li><a>Filmes</a></li>
      <li><a>Animes</a></li>
      <li><a>Minhas Lista</a></li>
    </ul>
  </div>

  <div class="menu-opcoes">
    <p>Olá, Lucas</p>
    <span class="material-symbols-outlined menu-botao" (click)="menuToggle()">
      {{ menuOpen ?  'arrow_drop_up' : 'arrow_drop_down' }}
      </span>

      <div class="menu-toggle">
        <ul>
          <li>Perfil</li>
          <li>Configurações</li>
          <li>Sair</li>
        </ul>
      </div>
  </div>

</nav>
