<section class="container">
  <div class="perfil-container">

    <div class="perfil-image">
      <img src="https://image.tmdb.org/t/p/original/hluxFUpyRGQI3ytbzU5GGQXlZ1N.jpg" alt="sua imagem de perfil">
    </div>

    <div class="perfil-form">
      <form action="">
        <div class="perfil-campo-form">
          <label class="label-form" for="">Nome</label>
          <input class="input-form" type="text" placeholder="nome">
        </div>

        <div class="perfil-campo-form">
          <label class="label-form" for="">Email</label>
          <input class="input-form" type="email" placeholder="meuemail@gmail.com">
        </div>

        <div class="perfil-campo-form">
          <label class="label-form" for="">Sexo</label>
          <select class="input-form" name="" id="">
            <option value="1">Masculino</option>
            <option value="1">Feminino</option>
            <option value="1">Outros</option>
          </select>
        </div>

        <div class="perfil-campo-form">
          <label class="label-form" for="">Data Nascimento</label>
          <input class="input-form" type="date" placeholder="02/04/2000">
        </div>

        <div class="perfil-form-acoes">
          <button class="perfil-button-salvar">Salvar!</button>
        </div>

      </form>
    </div>

  </div>

</section>
